name: Check CSS files

on: workflow_call

jobs:
  check-css:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
      - run: |
          if test -f package.json && grep '"prettier":' package.json && test -f yarn.lock; \
          then yarn install && npm exec prettier -- --check "**/*.{css,scss}"; \
          fi
      # Lint with Biome if it looks like a Biome project
      - run: |
          if test -f package.json && grep '"@biomejs/biome' package.json && test -f yarn.lock; \
          then yarn install && npm exec biome -- check; \
          fi
