name: Check YAML files

on: workflow_call

jobs:
  check-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
      - run: |
          yarn add prettier \
          && yarn install \
          && npm exec prettier -- --check "**/*.{yaml,yml}"
